@model EmployeeManagementSys.ViewModel.EmpFamilyDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h1>@ViewBag.Header</h1>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFamilyDetails.MemberName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.EmployeeFamilyDetails.MemberName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFamilyDetails.MemberRelation)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.EmployeeFamilyDetails.MemberRelation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeFamilyDetails.ContactNumber)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.EmployeeFamilyDetails.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Role)
        </dd>
    </dl>

    
     
       
       
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Employee.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
